/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroImage {
  background-image: url('@site/static/img/splash-image.jpg');
  /* background-position: 100% 94%; */
  background-position: 100% 30%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
