.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.programmingList {
  font-size: 1.2rem;
  text-align: right;
  white-space: nowrap;
  margin: 0 25% 0 0;
}

.programmingDotFull {
  color: orange;
}

.proficiencyNote {
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0;
}

.miscSkills {
  font-size: 1.2rem;
  margin: 0;
}
