/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009474;
  --ifm-color-primary-dark: #008568;
  --ifm-color-primary-darker: #007e63;
  --ifm-color-primary-darkest: #006851;
  --ifm-color-primary-light: #00a380;
  --ifm-color-primary-lighter: #00aa85;
  --ifm-color-primary-lightest: #00c097;

  --ifm-h4-font-size: 1.1rem;
}

/* setting the theme colors */
[data-theme='dark'] {
  --ifm-color-primary: #009474;
  --ifm-color-primary-dark: #008568;
  --ifm-color-primary-darker: #007e63;
  --ifm-color-primary-darkest: #006851;
  --ifm-color-primary-light: #00a380;
  --ifm-color-primary-lighter: #00aa85;
  --ifm-color-primary-lightest: #00c097;
}

/* Had to set the same color for both themes. Not sure why. Some weird infima interaction */
html[data-theme='dark'] footer {
  background-color: #121314;
}

html[data-theme='light'] footer {
  background-color: #868686;
}

.hero__title {
  color: #ebedf0;
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000;
}

.hero__subtitle {
  font-size: 1.8rem;
  color: #ebedf0;
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000;
}